<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pk.addits"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pk.addits.activity.ActivityMain"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <receiver
            android:name="com.pk.addits.widget.WidgetStackProvider"
            android:label="@string/widget_stack" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stack_widget_provider" />
        </receiver>

        <service
            android:name="com.pk.addits.widget.WidgetStackService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name="com.pk.addits.widget.WidgetArticleProvider"
            android:label="@string/widget_article" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/article_widget_provider" />
        </receiver>
        <receiver
            android:name="com.pk.addits.widget.WidgetListProvider"
            android:label="@string/widget_list" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/list_widget_provider" />
        </receiver>

        <service
            android:name="com.pk.addits.widget.service.WidgetListService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        
        <service
            android:name="com.pk.addits.daydream.ArticleDaydream"
            android:exported="true"
            android:label="@string/daydream_name" >
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        
        <service
		  android:name="com.pk.addits.service.ArticleUpdateService"
		  android:icon="@mipmap/ic_launcher"
		  android:label="@string/article_update_service" />
		
    </application>

</manifest>